* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background: black;
  height: 300vh;
}

#head {
  color: black;
  position: fixed;
  z-index: 1;
}

.intro {
  height: 100vh;
}

.intro .img-wrapper {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid white; */
  position: fixed;
  top: 0;
  left: 0;
}

.intro img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* height: 1000px;
  width: 1000px; */
}

.intro .text {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  opacity: 0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.75rem;
}

.bio {
  display: grid;
  height: 100%;
  grid-template-areas: "portraitL portraitL gridL gridL gridL";
  grid-gap: 1rem;
  color: white;
}

.bio .bImage {
  grid-area: portraitL;
  opacity: 0;
}

.bio .bImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bio .bText {
  padding: 0.25rem;
  grid-area: textL;
  opacity: 0;
  display: none;
}

.bio .bText h1 {
  padding-bottom: 0.5rem;
}

.bio .bGrid {
  grid-area: gridL;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1rem;
  position: relative;
}

.bio .bGrid #image1 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
  opacity: 0;
}
.bio .bGrid #image2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  opacity: 0;
}
.bio .bGrid #image3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 9;
  opacity: 0;
}
.bio .bGrid #image4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
  opacity: 0;
}
.bio .bGrid #image5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
  opacity: 0;
}

.bio .bGrid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bio .bGrid img:hover {
  transform: scale(1.02);
}

@media (max-width: 550px) {
  .intro .text {
    font-size: 1.5rem;
  }
}
